
/* Global Styles */

.button , input {
  border-radius: 4px;
  padding: 8px;
}

.button.primary {
  background: darkslateblue;
  color: white;
}

.empty-state {
  margin-top: 16px;
  text-align: center;
}

main {
  font-family: Arial, Helvetica, sans-serif;
}

/* Class / ID Specific Styles */

.app .toolbar .button, 
.app .toolbar label,
.app .toolbar input {
  margin-right: 8px;
}

#days {
  width: 25px;
}

